
.uploadzone-dialog{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	overflow: auto;
}

.uploadzone-dialog-open{
	overflow: hidden;
}

.uploadzone-dialog-close{
	width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 29.7px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: -30px;
}

.uploadzone-dialog-inner-wrap{
	position: relative;
    width: 100%;
    min-width: 760px;
    max-width: 944px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.uploadzone-dialog-panel{
	background: #EFEFEF;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.35);
	padding: 20px;
	box-sizing: border-box;
	box-sizing: -moz-border-box;
	box-sizing: -webkit-border-box;
}

.uploadzone-dialog-panel-tabs{
	position: relative;
    display: none;
    box-sizing: border-box;
    height: 616px;
    line-height: 22px;
    font-size: 16px;
    color: #000;
    padding: 20px;
    text-align: center;
}

.uploadzone-dialog .current{
	display: block;
}

.uploadzone-dragdrop{
	border: 3px solid #ABABAB;
	border-style: dashed;
	padding-top: 155px;
}

.uploadzone-dialog-file-title, .uploadzone-dialog-file-click{
	margin-bottom: 65px;
}

.uploadzone-dragdrop.dragover{
	border-color: #000000;
}

.uploadzone-preview-image-wrap{
    position: relative;
    width: auto;
    height: 462px;
}

.uploadzone-preview-image-wrap img{
    height: 462px;
    width: auto;
}

.uploadzone-preview-action{
    margin: 10px 0;
}

.uploadzone-preview-action button{
    margin-right: 10px;
}

.uploadzone-preview .jcrop-holder{
    margin: 0 auto;
}

.uploadzone-filename{
    width: 100%;
    height: auto;
    padding: 10px 0;
}